- @edit = edit
%tr{id: @edit.sortable_id}
  = render 'tasks/question_tasks/questions/prompt/edit'
  %td
    = render 'tasks/question_tasks/questions/options/edit'
  %td
    = render 'tasks/question_tasks/questions/shared/delete'
    
